.sectionCoin {
    background-color: var(--cor-rosa);
    color: var(--cor-fonte);
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.coinSign {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 20px 0px 10px 50px;
    box-sizing: content-box;
}

.vl {
    height: 130px;
    border-left: 3px solid var(--cor-fonte);
    position: absolute;
    left: 40%;
}

.coin {
    font-size: 1rem;
    margin-bottom: 0px;
}

.sign {
    font-size: 8rem;
    margin-bottom: 0px;
}

.coinValue {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: auto;
    margin-bottom: 5px;
    padding: 20px 50px 20px 0px;
}

.value {
    font-size: 2.6rem;
    margin-bottom: 0;
}

.update {
    font-size: 1.6rem;
    color: #00000050;
    margin-top: 10px;
    margin-bottom: 0px;
}