
nav {
    display:  flex;
    flex-direction: row;
    width: auto;
    max-width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}

.title {
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 600    ;
    color: var(--cor--da-pig);
}

.menu {
    text-decoration: none;
    list-style: none;
}