.Footer {
    background-color: var(--cor-fonte);
    bottom: 0;
    left: 0;
    height: 30px;
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}
.Footer p {
    margin: 0;
    font-size: 1.3rem;
    padding-top: 5px;
}