header {
    height: 100px;
}

main {
    width: 100%;
    margin: 0 auto;
    color: var(--cor-fonte);
}

section {
    display: flex;
}

p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

img {
    width: 500px;
}

.section-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 960px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 500px;
    width: auto;
    height: auto;
    align-self: flex-end;
}

.container h2 {
    font-size: 2.75rem;
    margin-bottom: 40px;
    margin-left: -25px;
    text-indent: 20px;
    text-align: right;
}

.container p {
    margin-left: 20px;
    text-align: right;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.section-2 h2 {
    font-size: 4.3rem;
    text-align: center;
    margin-bottom: 40px;
}

.section-2 p {
    text-align: center;
}

.section-2 img {
    margin-bottom: 100px;
}
