.section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 960px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-1 h2 {
    font-size: 2.7rem;
}

.section-1 a {
    text-decoration: none;
}